[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.5"
django-filter = "==24.3"
djangorestframework = "==3.15.2"
markdown = "==3.7"
drf-spectacular = "==0.28.0"
django-environ = "==0.12.0"
djangorestframework-simplejwt = "==5.4.0"
pillow = "==11.1.0"
django-cors-headers = "==4.6.0"
boto3 = "==1.35.94"

[dev-packages]
pycodestyle = "==2.10.0"
flake8 = "==6.0.0"
autopep8 = "==2.0.4"
factory-boy = "==3.3.1"

[requires]
python_version = "3.12"
