[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.2"
django-filter = "==23.2"
djangorestframework = "==3.14.0"
markdown = "==3.4.3"
drf-spectacular = "==0.26.3"
django-environ = "==0.10.0"
djangorestframework-simplejwt = "==5.2.2"
pillow = "==9.5.0"
django-cors-headers = "==4.1.0"
boto3 = "==1.26.162"

[dev-packages]
pycodestyle = "==2.10.0"
flake8 = "==6.0.0"
autopep8 = "==2.0.2"
factory-boy = "==3.2.1"

[requires]
python_version = "3.11.4"
