[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
djangorestframework = "*"
markdown = "*"
drf-spectacular = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"

[dev-packages]
pycodestyle = "*"
flake8 = "*"
autopep8 = "*"
factory-boy = "*"

[requires]
python_version = "3.8"
